<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Devour-The-BURGER!!</title>
	</head>
	<body>
	<img src="/assets/img/burger.jpg" width="400px" id="burger">
		{{{ body }}}
	</body>
</html>
